@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html, body, #root { height: 100%; }
  * { font-family: 'Sora', sans-serif; }
  ::-webkit-scrollbar { width: 5px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #DDD6FE; border-radius: 9999px; }
}
